body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.wrapper-btn-fixed {
  margin-bottom: 7%;
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 999;

  .btn-rounded {
    background: #e9f4ff;
    box-shadow: 0 1px 10px rgb(31 194 236 / 45%);
    border-radius: 20%;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    border: 0;
    padding: inherit;
    -webkit-text-emphasis: center;
    text-emphasis: center;
  }
}

.container {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.navbar-layout {
  .img--center {
    display: flex;
    align-items: center;
  }
}

.font-link {
  font-family: "Hanalei Fill", cursive;
}

.flex--justify {
  display: flex;
  justify-content: center;
}

.header {
  position: relative;
  min-height: 650px;
  background: url(./assets/imgs/header.jpg) no-repeat center center fixed;
  background-size: cover;

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(#212529, 0.85);
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    .logo {
      width: 200px;
      margin-bottom: 30px;
      filter: drop-shadow(0 0 40px rgba(#ced4da, 0.4));
    }

    .subtitle {
      font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1200 - 320)));
      font-weight: 700;
      margin-bottom: 0;
    }

    .title {
      font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1200 - 320)));
      font-weight: bold;
    }
  }

  &.components {
    min-height: 450px !important;
    background-position: center bottom;

    .title {
      font-size: calc(40px + (90 - 40) * ((100vw - 320px) / (1200 - 320)));
      font-weight: bold;
    }
  }

  &-title {
    font-size: 2.4rem;
    font-weight: bold;
    opacity: 0.8;
    color: #000;
  }

  // header mini
  &-mini {
    min-height: 24rem;
    height: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    background: lighten(#bc8c4c, 25%) !important;
  }
}

#service {
  margin-top: 20px;
}

.has-img-bg {
  position: relative;
  background-size: cover;
  color: #fff;

  * {
    position: relative;
    z-index: 100;
  }

  &:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(darken(#bc8c4c, 50%), 0.7);
    z-index: 1;
  }
}

.section-subtitle {
  font-size: calc(14px + (17 - 14) * ((100vw - 320px) / (1200 - 320)));
  font-weight: 400;
  margin-bottom: 0px;
  opacity: 0.4;
}

@media (min-width: 992px) {
  .section-subtitle {
    font-size: 17px;
  }
}
